<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "..\SYSTEM\resources\externalXMLValidators\spring-beans-2.0.dtd">
<beans>	

	<bean id="fromString" class="com.jacada.crypto.SimpleKeyBytesProvider">
		<property name="keyEncoding" value="ASCII" />
	</bean>
	<bean id="fileStreamFactory" class="com.jacada.crypto.stream.FileStreamFactory" >
	</bean>
	
	
	<bean id="FaqDao"  parent="baseDao">
		<property name="configRootPath" value=""/>
		<property name="streamFactory" ref="webStreamFactory" />
		<property name="schemaLocation" value="Schemas/faq.xsd" />
		<property name="xmlFileName" value="/USER/resources/Faq.xml" />
		<property name="shouldAddPrefix" value="false"></property>
		
		<property name="classesToBeBound">
			<list>
				<value>com.jacada.jad.faq.FaqGroupList</value>
				<value>com.jacada.jad.faq.FaqGroup</value>
				<value>com.jacada.jad.faq.Faq</value>
			</list>
		</property>
	</bean>
</beans>