<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "..\SYSTEM\resources\externalXMLValidators\spring-beans-2.0.dtd">
<beans>	
	<bean id="LDAPAccess" class="com.jacada.jad.external.ldap.LDAPControlImpl">
		<property name="host" value="your URL" />
    	<property name="port" value="1111" />
		<property name="username" value="the user name" />
		<property name="password" value="the user password" />
 		<property name="userBaseDN" value="the base DN" />
	</bean>
</beans>
