<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<bean id="processStorage" class="com.jacada.sm.storage.DefaultProcessStorage" scope="session" lazy-init="true">
		<aop:scoped-proxy/>
	</bean>
	<bean id="stateEngine" class="com.jacada.sm.engine.DefaultStateEngine" lazy-init="true">
		<property name="processStorage" ref="processStorage" />
	</bean>
	<bean id="processContainer" class="com.jacada.sm.engine.process.DefaultProcessContainer" lazy-init="true">
		<property name="processStateEngine" ref="stateEngine" />
		<property name="processStorage" ref="processStorage" />
	</bean>
	<util:list id="emptyTransitionsList"></util:list>
</beans>
