<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<bean id="auditingManager" class="SYSTEM.global.managers.AuditingManagerImpl" scope="session" lazy-init="true" init-method="onCreate">
		<aop:scoped-proxy/>
		<property name="configuration" ref="auditingConfiguration"></property>
		<property name="auditors" ref="auditors" />	
		<property name="notificationManager" ref="ctiNotificationManager"></property>
	</bean>
	
	<bean id="applicationAuditingManager" class="SYSTEM.global.managers.ApplicationAuditingManagerImpl" lazy-init="true" init-method="onCreate">
		<property name="configuration" ref="auditingConfiguration"></property>
		<property name="auditors" ref="auditors" />	
		<property name="projectId" ref="projectId"/>
	</bean>
	
	<bean id="dbAuditor" class="com.jacada.jad.auditing.auditor.DBAuditor">	
		<property name="dao" ref="auditingDao"></property>
	</bean>
	
	<bean id="auditingDao" class="com.jacada.jad.auditing.dao.AuditingDaoJpaImpl"></bean>
	
	<bean id="auditingConfiguration" class="com.jacada.jad.auditing.config.AuditingConfigurationImpl" init-method="init" lazy-init="true">
		<property name="settingDao" ref="auditingSettingDao"></property>
		<property name="pointDao" ref="auditingPointDao"></property>
	</bean>
	
	<bean id="auditingSettingDao" class="com.jacada.jad.auditing.config.dao.AuditingSettingDaoJPAImpl"></bean>
	<bean id="auditingPointDao" class="com.jacada.jad.auditing.config.dao.AuditingPointDaoJpaImpl"></bean>

</beans>