<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:s="http://www.springframework.org/schema/security" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.2.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<bean id="contactSearchProviderType" class="com.jacada.jad.configuration.settings.SettingsProvider"
		lazy-init="true">
		<property name="settingsDao" ref="settingsDao" />
		<property name="settingName" value="contactSearchProviderType" />
		<property name="settingType"
			value="com.jacada.jad.directory.settings.DirectorySetting" />
	</bean>
	
	<bean id="conversationSearchProviderType" class="com.jacada.jad.configuration.settings.SettingsProvider"
		lazy-init="true">
		<property name="settingsDao" ref="settingsDao" />
		<property name="settingName" value="conversationSearchProviderType" />
		<property name="settingType"
			value="com.jacada.jad.directory.settings.DirectorySetting" />
	</bean>
	
	<bean id="customerSearchProviderType" class="com.jacada.jad.configuration.settings.SettingsProvider"
		lazy-init="true">
		<property name="settingsDao" ref="settingsDao" />
		<property name="settingName" value="customerSearchProviderType" />
		<property name="settingType"
			value="com.jacada.jad.directory.settings.DirectorySetting" />
	</bean>
	
	<bean id="customerAutoSearchProvider" class="com.jacada.jad.configuration.settings.SettingsProvider"
		lazy-init="true">
		<property name="settingsDao" ref="settingsDao" />
		<property name="settingName" value="customerAutoSearch" />
		<property name="settingType"
			value="com.jacada.jad.directory.settings.DirectorySetting" />
	</bean>
	
    <bean id="directorySearchTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean" scope="prototype">
        <property name="jobDetail" ref="directorySearchJobDetail" />
        <property name="repeatCount" value="0"/>
    </bean>
    <bean id="directorySearchJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean" scope="prototype">
        <property name="jobClass" value="com.jacada.jad.directory.search.job.DirectorySearchJob"/>
    </bean>
    
</beans>