<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "..\SYSTEM\resources\externalXMLValidators\spring-beans-2.0.dtd">
<beans>	

	<bean id="fromString" class="com.jacada.crypto.SimpleKeyBytesProvider">
		<property name="keyEncoding" value="ASCII" />
	</bean>
	<bean id="fileStreamFactory" class="com.jacada.crypto.stream.FileStreamFactory" >
	</bean>
	
	
	<bean id="NavbarDao"  parent="baseDao">
		<property name="configRootPath" value=""/>
		<property name="streamFactory" ref="webStreamFactory" />
		<property name="schemaLocation" value="Schemas/navbar.xsd" />
		<property name="xmlFileName" value="/USER/resources/Navbar.xml" />
		<property name="shouldAddPrefix" value="false"></property>
		
		<property name="classesToBeBound">
			<list>
				<value>com.jacada.jad.navigationbar.model.NavigationBar</value>
				<value>com.jacada.jad.navigationbar.model.LinkInfo</value>
			</list>
		</property>
	</bean>
</beans>