<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xmlns:tx="http://www.springframework.org/schema/tx" 
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans    
        http://www.springframework.org/schema/beans/spring-beans-4.1.xsd    
        http://www.springframework.org/schema/tx    
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

    <bean id="messagingDao" class="com.jacada.jad.messaging.services.MessagingDAOImpl" lazy-init="true"/>
    
    <bean id="messagingManager" class="com.jacada.jad.messaging.services.MessagingManagerImpl"  lazy-init="true">
       	<property name="groupsProvider" ref="groupsProvider" />
		<property name="usersManager" ref="usersManager"/>
        <property name="messagingDao" ref="messagingDao" />
        <property name="agentInformation" ref="agentInformation" /> 
        <property name="rapDao" ref="rapDao"/>    
    </bean>

    <bean id="rssProvider" class="com.jacada.jad.messaging.rss.RssProvider" init-method="onCreate" destroy-method="onDestroy" scope="session" lazy-init="true">
    	<aop:scoped-proxy/>
        <property name="managedSession" ref="managedSession"/>
        <property name="rssFeedDao" ref="rssFeedDao"/>
    </bean>
</beans>    