<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans             http://www.springframework.org/schema/beans/spring-beans-4.1.xsd             http://www.springframework.org/schema/aop              http://www.springframework.org/schema/aop/spring-aop-4.1.xsd    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd">

	<!-- NOTE: This file is updated by the End-to-End module wizard.
			   It is recommended not to update this file manually. -->
	
	
	<util:list id="modules">
	
	<value>SecurityQuestions</value>
<value>CustomerSearch</value>
<value>Redemption</value>
</util:list>

<import resource="USER/applicationContext-SecurityQuestions.xml"/>
<import resource="USER/applicationContext-CustomerSearch.xml"/>
<import resource="USER/applicationContext-Redemption.xml"/>
</beans>
