<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
		
	<bean class="com.jacada.tracfoneAD.sSO.model.DefaultSSOManager" id="SSOManager" scope="singleton">
	<property name="SSO" ref="SSO"/>
</bean>
	
<bean class="com.jacada.tracfoneAD.sSO.dao.SSODaoFactoryBean" id="SSO" scope="session">
<aop:scoped-proxy/>
<property name="dao" ref="SSODao"/>
<property name="stub" ref="SSODaoStub"/>
</bean>
<bean class="com.jacada.tracfoneAD.sSO.dao.DefaultSSODao" id="SSODao" scope="singleton"/>
<bean class="com.jacada.tracfoneAD.sSO.dao.SSODaoStub" id="SSODaoStub" scope="singleton"/>
</beans>
