@import url(https://use.fontawesome.com/releases/v5.0.1/css/all.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://s3.amazonaws.com/icomoon.io/103594/Tracfone/style.css?7d2jjg);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

.baseColor{
	background-color:#F1F1F1;
}

body{ 
    /*font-family: 'Roboto', sans-serif;*/
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    FONT-SIZE:      11px;
    color:          #000000;
    overflow: hidden;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
}

.x-tool-img{
	margin-left: -2px;
	background-color: transparent;
}

.x-tool .x-tool-img{
	opacity: .7;
	background-repeat: no-repeat;
}

.x-column-header-inner {
  padding: 4px 5px 3px 10px;
  /* border-bottom: 1px solid silver; */
}

.x-menu-body{
	-webkit-border-radius: 11px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-style: none;
	background-color: #46627A
}

.x-menu-item-text{
	color: #004DA1;
	font-size: 11px;
	font-family: helvetica,arial,verdana,sans-serif;
}

.x-menu-item-active {
  background-image: none;
  background-color: #6C7F8F;
  border-style: none;
}

.x-nlg .x-menu-item-active {
  background: #6C7F8F repeat-x left top;
}

.x-menu-icon-separator{
	visibility: hidden;
}
.x-menu-item-separator {
	border-style: none;
}

.x-htmleditor-iframe {
  display: block;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.x-panel-header-default{
	background: #004DA1;
	border-style: none;
	font-size: 10px;
}
 .x-panel-header-default-horizontal{
	padding: 7px 8px 7px 8px;
}

.x-panel-header-default-horizontal .x-tool-after-title {
  margin: -1px;
}

.x-panel-header-default .x-tool-img{
	background-color: transparent;
}

.x-border-layout-ct {
	background-color:#F1F1F1;
}

.x-toolbar-separator{
	border-style: none;
	background-color: silver;
	width: 1px;
}

.x-btn-default-toolbar-medium{
	background-image: none;
	border-style: none;
	background-color: transparent;
}

.x-nlg .x-btn-default-toolbar-medium{
	background-image: none;
	border-style: none;
	background-color: transparent;
}

.x-nlg .x-btn-default-small{
	background-image: none;
	border-style: none;
	background-color: transparent;
}

.x-btn-default-toolbar-medium-over{
	background-image: none;
	background-color: #EEEEEE;
	opacity: 0.6;
}

.x-nlg .x-btn-default-toolbar-medium-over{
	background-image: none;
	background-color: #EEEEEE;
	opacity: 0.6;
}

.x-btn-default-toolbar-small{
	background-image: none;
	border-style: none;
	background-color: transparent;
}

.actionButton.x-btn-default-toolbar-small{
	background-color:#46627A !important;
}
.actionButton .x-btn-inner {
	color: white;
}
.actionButton.x-btn-default-toolbar-small-over{
	background-color:#324657 !important;
}
.x-nlg .x-btn-default-toolbar-small{
	background-image: none;
	border-style: none;
	background-color: transparent;
}

.x-btn-default-toolbar-small-over{
	background-image: none;
	background-color: #EEEEEE;
}

.x-nlg .x-btn-default-toolbar-small-over{
	background-image: none;
	background-color: #EEEEEE
}

.x-btn-default-toolbar-medium .x-btn-split-right {
	background-image: url(images/buttons/default-toolbar-small-s-arrow.png);
	padding-right: 23px;
}

.x-tree-node-text{
	font-size: 11px;
	padding-left: 4px;
	cursor: pointer;
	text-transform: uppercase;
	line-height: .5;
}

.x-form-item-label{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 11px;
	line-height: 11px;
	margin-left: 1px;
	color: #004DA1;
}

.x-form-display-field{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 11px;
	line-height: 11px;
	font-weight: normal;
	margin-top: 1px;
	color: #004DA1;
	font-weight: bold;
	padding-left: 1px;
	padding-top: 3px;
	height: 14px;
}

.x-panel-body-default{
	background: transparent;
	border-width: 0;
}

#workspace-menu{
	background-image: none !important;
	background-color: #F1F1F1;
	margin-top: 21px;
}

.x-tip-default {
  border-style: none;
  background-color: #C65E02;
}

.x-tip-body-default{
  color: white;
}

.x-menu {
  border-style: none;
}

#ctiBar-body{
	background-image: none !important;
	background-color: #F1F1F1;
	border-style: none;
	padding-top: 5px;
}

.cti-tbseparator.x-toolbar-separator{
	height: 60px !important
}

.statusLabel{
	font-size: 11px;
	color: gray;
}

.x-toolbar-default{
	background-color: #F1F1F1;
	border-style: none;
}

.cti-disconnect-msg          {color: red; font-size: 11px;}
.cti-disconnect-msg-hide     {visibility: hidden;}
.cti-disconnect-msg-in-manual-mode 		{color: #000000; white-space: nowrap; text-overflow:ellipsis; overflow:hidden;}
.cti-disconnect-msg-in-manual-mode-hide {visibility: hidden;}

.cti-error-status {
	color: red;
	white-space: nowrap;
	font-size: 11px;
	text-overflow:ellipsis;
}

.cti-mandatory-message {
	color: red;
	font-size: 13px;
	font-weight: bold;
	text-overflow:ellipsis;
}

.ctiLabel {
	font-weight: bold;
}
.cti-busy-reasons {
	font-size: 11px;
	text-align: center;
}
.hiddenButton .x-item-disabled {
    visibility: hidden;
}
.hiddenButton{
    visibility: hidden;
}
#readyBtn.x-btn-default-small{
	background-color:#EA735F !important;
}
#readyBtn.x-btn-default-small-over{
	background-color:#313132 !important;
}
.future-busy-border {
	border-style: solid  !important;
	border-color: #88C057 !important;
	border-width: 3px !important;
}
#busyBtn.x-btn-default-small{
	background-color:#88C057 !important;
}
#busyBtn.x-btn-default-small-over{
	background-color:#313132 !important;
}
.future-ready-border {
	border-style: solid !important;
	border-color: #EA735F !important;
	border-width: 3px !important;
}

/*Main Navigation*/
.contextNavigation {
    padding: 0px;
    cursor: pointer;
    background: #fff;
}
.contextNavigation .x-grid-cell {
    background: #fff;
    color: #004da1;
}

.contextNavigation .x-grid-row-selected .x-grid-cell {
    font-weight: bold;
/*    background-image: url(images/navigation/selected_item.png); */
	background-repeat: repeat-y;
	background-color: #004da1;
	color: #fff;
	position: relative;
}

.contextNavigation .x-grid-row-over .x-grid-cell {
/*    background-image: url(images/navigation/selected_item.png); */
	background-repeat: repeat-y;
	background-color: #004da1;
	color: #fff;
}

.x-tree-icon{
	width: 18px;
}
.contextNavigation .x-tree-icon-leaf {
	display: none !important;
}

/* .contextNavigation .x-grid-row-before-focused .x-grid-td {
  border-style: none;
}

.contextNavigation .x-grid-row-focused .x-grid-td {
	border-style: none;
}

.contextNavigation .x-grid-body .x-grid-table-focused-first {
  border-style: none;
}

.contextNavigation .x-grid-body {
  border-style: none;
} */


/* #contextContentPanel{
	padding:5px;
	background-color:#EEEEEE;
} */

#contextContentPanel{
	padding:0px;
}

.logoutBtn .x-btn-inner {
	color: rgb(0, 77, 161);
	cursor: pointer;
}

.attachmentStyle {
	color: #000000;
	cursor: pointer;
}

.attachmentMouseOver{
	text-decoration: underline;
}

.textAlertColor{
	color: #FF0000;
}

.textSuccessColor{
	color:#0099FF;
}

.chatIcon {background-image: url(images/toolbar/chat.gif); height: 28px; width: 32px; background-position:center ;background-color: transparent; background-repeat:no-repeat;}
.dialPadIcon {background-image: url(images/toolbar/dialpad.gif); height: 28px; width: 28px; background-position:center ;background-color: transparent; background-repeat:no-repeat; }
.jobAssignmentIcon {background-image: url(images/toolbar/jobAssignment.gif); height: 28px; width: 28px; background-position:center ;background-color: transparent; background-repeat:no-repeat; }
.agentTasksIcon {background-image: url(images/toolbar/agentTasks.gif); height: 28px; width: 28px; background-position:center ;background-color: transparent; background-repeat:no-repeat;}
.agentDispositionIcon {background-image: url(images/toolbar/agentDisposition.gif); height: 28px; width: 28px; background-position:center ;background-color: transparent; background-repeat:no-repeat; }
.helpOnHandIcon {background-image: url(images/toolbar/helpOnHand.gif); height: 28px; width: 28px; background-position:center ;background-color: transparent; background-repeat:no-repeat; }
.customerSearchIcon {background-image: url(images/toolbar/customerSearch.gif); height: 28px; width: 28px; background-position:center ;background-color: transparent; background-repeat:no-repeat; }
.documentSearchIcon {background-image: url(images/toolbar/documentSearch.gif); height: 28px; width: 28px; background-position:center ;background-color: transparent; background-repeat:no-repeat; }

.corporate-logo {
	BACKGROUND-IMAGE: url(images/TracFone_Logo_250x89.png);
	BACKGROUND-REPEAT: no-repeat;
	border-style: none;
	background-color: transparent;
    margin-left: 10px;
	margin-top: 7px;
	vertical-align: middle  !important;
	height: 50px !important;
	background-size: contain;
}
/*5
/*channel icons*/
.email-icon               { display: inline;}
.email-icon .enabled      { cursor:default; BACKGROUND-IMAGE: url(images/email.gif);BACKGROUND-REPEAT: no-repeat; width: 20px; height: 0px; margin: 0px; padding: 2px 10px 0px 5px;  }
.email-icon .disabled     { BACKGROUND-IMAGE: url(images/email_dis.gif);BACKGROUND-REPEAT: no-repeat; width: 20px; height: 0px; margin: 0px; padding: 2px 10px 0px 5px; }
.email-icon-enabled      { cursor:default; BACKGROUND-IMAGE: url(images/email.gif);BACKGROUND-REPEAT: no-repeat; width: 20px; height: 0px; margin: 0px; padding: 2px 10px 0px 5px;  }

.multimedia-icon               { display: inline;}
.multimedia-icon .enabled      { cursor:default; BACKGROUND-IMAGE: url(images/fax.gif);BACKGROUND-REPEAT: no-repeat; width: 20px; height: 0px; margin: 0px; padding: 2px 10px 0px 5px; }
.multimedia-icon .disabled     { BACKGROUND-IMAGE: url(images/fax_dis.gif);BACKGROUND-REPEAT: no-repeat; width: 20px; height: 0px; margin: 0px; padding: 2px 10px 0px 5px; }
.multimedia-icon-enabled      { cursor:default; BACKGROUND-IMAGE: url(images/fax.gif);BACKGROUND-REPEAT: no-repeat; width: 20px; height: 0px; margin: 0px; padding: 2px 10px 0px 5px; }

.voice-icon               { display: inline;}
.voice-icon .enabled      { cursor:default; BACKGROUND-IMAGE: url(images/phone.gif);BACKGROUND-REPEAT: no-repeat; width: 10px; height: 0px; margin: 0px; padding: 2px 20px 0px 5px; border-right: 1px solid #8FB8BC;}
.voice-icon .disabled     { BACKGROUND-IMAGE: url(images/phone_dis.gif);BACKGROUND-REPEAT: no-repeat; width: 20px; height: 0px; margin: 0px; padding: 2px 20px 0px 5px; border-right: 1px solid #8FB8BC;}
.voice-icon-enabled      { cursor:default; BACKGROUND-IMAGE: url(images/phone.gif);BACKGROUND-REPEAT: no-repeat; width: 10px; height: 0px; margin: 0px; padding: 2px 20px 0px 5px; border-right: 1px solid #8FB8BC;}

.wsInfoTitle {font-weight: bold; line-height: 1.5; text-decoration: underline;}
.wsInfoLabel {font-weight: bold; line-height: 1.5;}
.wsInfoValue {}

.custom-section-property-value{
	padding-left: 5px;
	font-size: 11px;
	white-space: nowrap;
}
.custom-section-property-key{
	font-size: 11px;
	font-weight: bold;
	white-space: nowrap;
}
.cti-btn .x-btn-inner {
    font-size: 10px;
}
/* context menu icons */
.voiceMenuIcon .x-menu-group-icon { background-image: url(images/voice/voiceNodeIcon.png);}
.voiceMenuIconSelected .x-menu-group-icon { background-image: url(images/voice/contextVoiceSelected.png);}
.workitemMenuIcon .x-menu-group-icon { background-image: url(images/workItem/workitemNodeIcon.png);}
.workitemMenuIconSelected .x-menu-group-icon { background-image: url(images/workItem/contextWorkItemSelected.png);}
.tasksMenuIcon .x-menu-group-icon { background-image: url(images/humantask/tasksNodeIcon.png);}
.tasksMenuIconSelected .x-menu-group-icon { background-image: url(images/humantask/contextTasksSelected.png);}
.emailMenuIcon .x-menu-group-icon { background-image: url(images/email/emailNodeIcon.png);}
.emailMenuIconSelected .x-menu-group-icon { background-image: url(images/email/contextEmailSelected.png);}
.chatMenuIcon .x-menu-group-icon { background-image: url(images/chat/chatNodeIcon.png);}
.chatMenuIconSelected .x-menu-group-icon { background-image: url(images/chat/contextChatSelected.png);}

.voiceContext-small { background-image: url(images/voice/contextVoice.png);;background-repeat: no-repeat; background-position:left;padding-left:7px;}
.workitemContext-small { background-image: url(images/workItem/contextWorkItem.png);;background-repeat: no-repeat; background-position:left;padding-left:7px;}
.tasksContext-small { background-image: url(images/humantask/contextTasks.png);;background-repeat: no-repeat; background-position:left;padding-left:7px;}
.emailContext-small { background-image: url(images/email/contextEmail.png);;background-repeat: no-repeat; background-position:left;padding-left:7px;}
.chatContext-small { background-image: url(images/chat/contextChat.png);;background-repeat: no-repeat; background-position:left;padding-left:7px;}

/* context group icons */
.generalNodeIcon { display: none !important;}
.x-grid-tree-node-expanded .generalNodeIcon { display: none !important;}
.voiceNodeIcon { background-image: url(images/voice/voiceNodeIcon.png);background-repeat: no-repeat; background-position:left;}
.x-grid-tree-node-expanded .voiceNodeIcon { background-image: url(images/voice/voiceNodeIcon.png);}
.workitemNodeIcon { background-image: url(images/workItem/workitemNodeIcon.png);}
.x-grid-tree-node-expanded .workitemNodeIcon { background-image: url(images/workItem/workitemNodeIcon.png);}
.tasksNodeIcon { background-image: url(images/humantask/tasksNodeIcon.png);}
.x-grid-tree-node-expanded .tasksNodeIcon { background-image: url(images/humantask/tasksNodeIcon.png);}
.emailNodeIcon { background-image: url(images/email/emailNodeIcon.png);background-repeat: no-repeat; background-position:left;}
.x-grid-tree-node-expanded .emailNodeIcon { background-image: url(images/email/emailNodeIcon.png);}
.chatNodeIcon { background-image: url(images/chat/chatNodeIcon.png);background-repeat: no-repeat;; background-position:left;}
.x-grid-tree-node-expanded .chatNodeIcon { background-image: url(images/chat/chatNodeIcon.png);}
.chatNodeIconBlink { background-image: url(images/chat/contextChatBlink.png);background-repeat: no-repeat;}
.x-grid-tree-node-expanded .chatNodeIconBlink { background-image: url(images/chat/contextChatBlink.png);}

/* Agent history icons */
td.chatNodeIcon .x-grid-cell-inner {
    padding-left: 20px;
}
td.voiceNodeIcon .x-grid-cell-inner {
    padding-left: 20px;
}
td.emailNodeIcon .x-grid-cell-inner {
    padding-left: 20px;
}

/* CTI Buttons Icons */
.conversations{background-image: url(images/navigation/menu.png); margin-top: 10px; }
.conversations-over{background-image: url(images/navigation/menu_h.png); ; margin-top: 10px;}
.incomingCallNotifIcon { background-image: url(images/voice/voiceNotification.png);}
.incomingCallNotifIconBlink { background-image: url(images/voice/voiceNotificationBlink.png); !important}

.readyBtnIcon { background-image: url(images/voice/ready.png);}
.busyBtnIcon { background-image: url(images/voice/busy.png);}
.sendDTMFBtnIcon { background-image: url(images/voice/DTMF.png);}
.startBtnIcon { background-image: url(images/voice/start.png);}
.endBtnIcon { background-image: url(images/voice/end24.png);}
.endPopupBtnIcon { background-image: url(images/voice/end24.png);}
.endEndMenuBtnIcon { background-image: url(images/voice/end16.png);}
.holdBtnIcon { background-image: url(images/voice/hold.png);}
.holdOffBtnIcon { background-image: url(images/voice/holdOff.png);}
.transferBtnIcon { background-image: url(images/voice/transfer.png);}
.warmTransferToggleToSuperBtnIcon { background-image: url(images/voice/returnToSuper.png);}
.completeTransferBtnIcon { background-image: url(images/voice/completeTransfer.png);}
.consultBtnIcon { background-image: url(images/voice/consult.png);}
.consultToggleToSuperBtnIcon { background-image: url(images/voice/returnToSuper.png);}
.joinBtnIcon { background-image: url(images/voice/join.png);}
.dialBtnIcon.x-btn-default-toolbar-medium { background-image: url(images/voice/dialer.png); background-repeat: no-repeat;; }
.dialBtnIcon.x-btn-default-toolbar-medium-over{background-image: url(images/voice/dialer_h.png); background-repeat: no-repeat; }

.resyncBtnIcon {background-image: url(images/voice/resync.png);}
.addressBookBtnIcon.x-btn-default-toolbar-medium{ background-image: url(images/voice/addressBook.png); background-repeat: no-repeat;}
.addressBookBtnIcon.x-btn-default-toolbar-medium-over{background-image: url(images/voice/addressBook_h.png); background-repeat: no-repeat;}

.transferStandardBtnIcon {background-image: url(images/voice/transferStandard.png);}
.transferConnectBtnIcon {background-image: url(images/voice/transferConnect.png);}
.handshakeTransferBtnIcon { background-image: url(images/voice/handshakeTransfer.png);}
.warmTransferBtnIcon { background-image: url(images/voice/warmTransfer.png);}
.coldTransferBtnIcon { background-image: url(images/voice/coldTransfer.png);}

.completeBtnIcon { background-image: url(images/voice/complete.png);}
.returnBtnIcon { background-image: url(images/voice/return.png);}
.softReturnBtnIcon { background-image: url(images/voice/softReturn.png);}
.consultJoinBtnIcon { background-image: url(images/voice/consultJoin.png);}
.consultTransferBtnIcon { background-image: url(images/voice/consultTransfer.png);}
.closeContextBtnIcon { background-image: url(images/voice/close24.png);}

/* Work Item buttons icons*/
.workItemNotifBtnIcon { background-image: url(images/workItem/workItemNotification.png);}
.workItemNotifBtnIconBlink { background-image: url(images/workItem/workItemNotificationBlink.png);}

.endOpenMediaBtnIcon { background-image: url(images/workItem/endOpenMedia24.png);}
.endOpenMediaMenuBtnIcon { background-image: url(images/workItem/endOpenMedia16.png);}

/*Attachments Icons*/
.deleteAttachmentBtnIcon { background-image: url(images/email/delete_attachment.png);}
.attachmentsBtnIcon { background-image: url(images/email/paperclip.png);}

/* Email Icons*/
.incomingEmailNotifIcon { background-image: url(images/email/emailNotification.png); !important}
.incomingEmailNotifIconBlink { background-image: url(images/email/emailNotificationBlink.png); !important}
.emailForwardBtnIcon { background-image: url(images/email/mail_forward.png);}
.emailReplyBtnIcon { background-image: url(images/email/mail_reply.png);}
.emailReplyAllBtnIcon { background-image: url(images/email/mail_replyAll.png);}
.emailSendBtnIcon { background-image: url(images/email/mail_out.png);}

/* Chat Icons*/
.incomingChatNotifIcon { background-image: url(images/chat/chatNotification.png); !important}
.incomingChatNotifIconBlink { background-image: url(images/chat/chatNotificationBlink.png); !important}
.endChatIcon { background-image: url(images/chat/endChat.png);}

/* Human Task Buttons Icons */
.saveTaskIcon { background-image: url(images/humantask/saveTask.png);}
.saveTask24Icon { background-image: url(images/humantask/saveTask24.png);}
.releaseIcon { background-image: url(images/humantask/ReleaseTask.png);}
.claimIcon { background-image: url(images/humantask/StartTask.png);}
.completeIcon { background-image: url(images/humantask/CompleteTask.png);}
.assignIcon { background-image: url(images/humantask/TaskAssign.png);}
.complete24Icon { background-image: url(images/humantask/CompleteTask24.png);}
.closeIcon { background-image: url(images/humantask/close24.png);}
.noteDeleteIcon { background-image: url(images/humantask/note_delete.png);}
.noteAddIcon { background-image: url(images/humantask/note_add.png);}

.task-input-field-label {
	font-weight: bold;
}
.task-input-group-label {
	font-weight: bold;
	font-size: 12px;
}

.x-field-label-cell{
	/*
	vertical-align: middle;
	 */
}

.task-output-field-label {
	font-weight: bold;
}
.task-output-field-required {
	font-weight: bold;
	color: red;
}
.task-output-group-label {
	font-weight: bold;
	font-size: 12px;
}

/* Integration with Interaction */
.interaction-name{
	font-weight: bold;
}

.interaction-description{
}

.interaction-search-item {
	text-decoration: none;
}

.emailActionLink{
	text-decoration: none;
	font-size: 12px;
	color: black;
	font-weight: bold;
	white-space: nowrap;
}

.emailActionLink:HOVER {
	text-decoration: underline;
	cursor: pointer;
}

.x-window-body-default{
	border-color: transparent;
}
.x-tab-bar-default{
	background-color: transparent;
}
.x-tab-default{
	background-color: #46627A;
}
.x-tab-default-over{
	background-color: #C65E02;
}
.x-tab-default-active{
	background-color: #C65E02;
}
.x-tab-default-active .x-tab-inner{
	color: white;
}
.x-tab-bar-default .x-box-scroller-plain .x-box-scroller {
	background-color: #C65E02;
}
.x-tab-bar-default .x-box-scroller {
	background-color: #C65E02;
}
.x-window-default{
	border-style: none;
}

.x-window-header-default {
	border-width: 3px;
	background-color: #46627A;
	/* border-style: none; */
	border-color: #46627A;
}

.x-window-header-default-top{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.x-window-header-default .x-tool-img{
	background-color: transparent;
}

/* popup notification start */
/* .ux-notification-light .x-window-header {
	background-color: transparent;
} */

body .ux-notification-light {
	background-image: url('images/email/fader.png');
}

.ux-notification-light .x-window-body {
	text-align: center;
	padding: 15px 5px 20px 5px;
	background-color: transparent;
	border: 1px solid silver;
}

.popupActionLink{
	text-decoration: none;
	font-size: 12px;
	color: black;
}

.popupActionLink:HOVER {
	text-decoration: underline;
	cursor: pointer;
}

/* popup notification end */

.chat-customer-name{
	color: blue;
	font-weight: bold;
}
.chat-agent-name{
	color: green;
	font-weight: bold;
}
.chat-system-name{
	color: red;
	font-weight: bold;
}
.chat-time-msg{
	color: gray;
}

/* ******************************************************/
/*	Common classes for login/logout/welcome/about        /*
/* ******************************************************/
.logo-panel{
	background-color:#dedede;
	background-image: url('images/TracFone_Logo_250x89.png');
    background-repeat: no-repeat;
    background-position-y: 40px;
	background-position-x: 250px;
	height: 149px;
}

.loginErrorMsg{
	font-size: 16px;
	color: #F47200;
	background-color: transparent;
	text-align: center !important;
}
.form-panel{
	background-color:#004da1;
	padding-top: 25px;
}

.form-panel-main-title{
	font-size: 35px;
	color: #6BDB30;
	background-color: transparent;
	text-align: center;
}

.form-panel-sub-title{
	font-size: 23px;
	color: #6BDB30;
	background-color: transparent;
	text-align: center;
}

.form-error-sub-title{
	font-size: 20px;
	color: white;
	border-style: none;
	background-color: transparent;
	text-align: left;
}

.form-error-msg{
	font-size: 16px;
	color: #F47200;
	border-style: none;
	background-color: transparent;
	text-align: left !important;
}

.form-panel-sub-title-welcome{
	font-size: 23px;
	color: white;
	background-color: transparent;
	text-align: left;
}

.x-btn-default-small {
	background-color: #F47200 !important;
	background-image: none;
	border-style: none;
	border-style: none;
	border-radius: 30px;
	border: 1px solid #F47200 !important;
	text-transform: uppercase;
}

.x-btn-default-small:hover {
	background-color: #C65E02 !important;
}

.x-btn-default-small .x-btn-inner {
	color: white !important;
	font-size: .7em;
	text-transform: uppercase;
	line-height: 2;
}

.x-btn-default-small:hover .x-btn-inner {
	color: #fff !important;
}

.x-btn-icon-el {pointer: cursor;}

.x-btn-default-small-disabled {
	pointer-events: none;
}

.x-btn-default-small-over {
	background-color:#C65E02 !important;
}

.actionButton.x-btn-default-small-over {
	background-color:#324657 !important;
}
.actionButton.x-btn-default-small {
	background-color:#46627A !important;
}

.btn-login{
	width: 318px;
	height: 44px;
	background-color:#F47200 !important;
}
.btn-login.x-btn-default-small-over{
	background-color:#C65E02 !important;
}
.btn-login .x-btn-inner {
  	font-size: 17px;
}

.btn-ok-big{
	width: 157px;
	height: 44px;
	background-color:#F47200 !important;
}
.btn-ok-big.x-btn-default-small-over{
	background-color:#C65E02 !important;
}
.btn-ok-big .x-btn-inner {
  	font-size: 17px;
}
.btn-cancel-big{
	width: 147px;
	height: 44px;
	background-color:#BFC7DB !important;
}
.btn-cancel-big.x-btn-default-small-over{
	background-color:#94A1C3 !important;
}
.btn-cancel-big .x-btn-inner {
	font-size: 17px;
	color: black;
}

.x-form-trigger-wrap{
	background-color: white;	
}

.x-trigger-cell{
	position: relative;
	left: -4px;
	border-top-right-radius: 5px;
	  border-bottom-right-radius: 5px;
	  vertical-align: middle;
}

.login-form-field-user .x-form-text{
	height: 44px;
	width: 318px;
	font-size: 17px;
	color: #313132;
	border-style: none;
 -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	 border-top-left-radius: 5px;
	  border-top-right-radius: 5px;
	  border-bottom-left-radius: 5px;
	  border-bottom-right-radius: 5px;
	  background-image: url(images/user.png);
	background-repeat: no-repeat;
	background-position-x: 295px;
	background-position-y: 12px;
}

.login-form-field-password .x-form-text{
	height: 44px;
	width: 318px;
	font-size: 17px;
	color: #313132;
	border-style: none;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	 border-top-left-radius: 5px;
	  border-top-right-radius: 5px;
	  border-bottom-left-radius: 5px;
	  border-bottom-right-radius: 5px;
	  background-image: url(images/password.png);
	background-repeat: no-repeat;
	background-position-x: 295px;
	background-position-y: 12px;
}
/* Welcome messages grid */
#welcomeMessageBoard-body{
	background-color: transparent;
}
#welcomeMessageBoard .x-grid-row-over .x-grid-td{
	background-color: transparent;
}
#welcomeMessageBoard .x-grid-row-selected .x-grid-td{
	background-color: transparent;
}
#welcomeMessageBoard .x-grid-row-alt .x-grid-td{
	background-color: transparent;
}

.x-grid-row-over .x-grid-td{
	background-color: #e4e4e4;
}
.x-grid-row-selected .x-grid-td {
	background-color: #e4e4e4;
}

#gridview-1127 .x-grid-row-selected > td:first-child {border-left: 3px solid #f47200;}
.x-toolbar-footer{
	background-color: #F1F1F1 !important;
}
/*directory search*/
.directorySearchBtnIcon { background-image: url(images/directory/directorySearch.png);}

.searchResults-empty{
	text-align: center;
	padding-top: 20px;
	color: red;
}

.x-grid-cell-inner a:link{ 
 color: #57b1ef; 
 text-decoration: underline; 
}

.x-grid-cell-inner a:visited{ 
 color: #57b1ef; 
 text-decoration: underline; 
}

.x-grid-cell-inner a:active { 
 color: #57b1ef; 
 text-decoration: underline; 
}

.x-grid-cell-inner a:hover { 
 color: #57b1ef; 
 text-decoration: underline; 
}

/*workspace dialogs*/
.workspaceDialog {
	z-index: 20000 !important;
}

.btn-ok {
	color: #6BDB30;
}

a:-webkit-any-link {
	 color: #004DA1;
	 cursor: auto;
	 text-decoration: underline;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 11px;
	line-height: 11px;
	 margin-top: 10px !important;
     margin-left: 10px !important;	 
}

.weblink {
	color: #004DA1;
	cursor: auto;
	text-decoration: underline;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 11px;
	line-height: 11px;
	margin-top: 10px !important;
    margin-left: 10px !important;	
}

.x-header-text {
	white-space: nowrap;
	font-size: 10px;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}

.agentAssitBtn {
	margin-top: 15px !important;
	margin-left: 15px !important;
	margin-right: 15px !important;
}

.portletDisplay {
	font-weight: normal;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 11px;
	line-height: 11px;
	margin-top: 5px;
	margin-left: 5px;
	color: #004DA1;
}

.portletWeblink {
	color: #004DA1;
	cursor: auto;
	text-decoration: underline;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 11px;
	line-height: 11px;
	margin-top: 5px !important;
}

.x-form-cb-label {
	margin-top: 4px;
	font-weight: normal;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 11px;
	line-height: 11px;
	margin-left: 10px;
}

.x-form-item, .x-form-field {
	color: black;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 11px;
	line-height: 11px;
	/*margin-left: 10px;*/
}


.x-autocontainer-form-item, .x-anchor-form-item, .x-vbox-form-item, .x-table-form-item {
	/*margin-bottom: 2px;*/
}

.interaction_textarea {
	line-height: normal;
	height: 80px; 	
	margin-top: 5px;
}

.x-form-checkbox {
	margin-left: 11px;
}

.sso_form input{
	margin-left: 1px;
}

.x-toolbar-text {
	color: #f47200;
}

.x-menu-item{
	background-color: white;
}

.x-fieldset-header .x-fieldset-header-text {
	font-weight: bold !important;
}

.x-form-empty-field{
	color: black !important;
}

.x-fieldset-header-text {
	font-weight: normal;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 11px;
	line-height: 11px;
	color: black;
	padding: 1px 0;
}


/* #D91D00 #D91000 red */
/* C81000 hover red */

/* Customer Service Profile */
div[id*="customerServiceProfile"] {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

div[id*="customerServiceProfile"] legend {
	background-color: transparent;
	overflow: visible;
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 0;
}

div[id*="customerServiceProfile"] legend .x-component {
	font-size: 1.15em;
	font-weight: 400 !important;
	letter-spacing: .3px;
}

div[id*="customerServiceProfile"] .x-fieldset-body {-webkit-transform: translateY(25px);transform: translateY(25px);}

div[id*="customerServiceProfile"] .x-form-item-body {text-align: right;}

div[id*="customerServiceProfile"] .x-form-item, 
div[id*="customerServiceProfile"] .x-form-field {
	width: 100%;
}

div[id*="customerServiceProfile"] .x-panel:first-child .x-panel-body .x-panel:first-child .x-field td:last-child {
	padding-right: 10px;
	max-width: 100px;
}

div[id*="customerServiceProfile"] .x-form-item-input-row td {-webkit-transition: all ease-out .3s;transition: all ease-out .3s; cursor: pointer; width: 100% !important;}

div[id*="customerServiceProfile"] .x-form-item-input-row:hover td:first-child {opacity: 0; position: absolute; z-index: -1;}

div[id*="customerServiceProfile"] .x-form-item-input-row:hover td:nth-child(2) .x-form-display-field {
	text-overflow: initial;
	overflow: visible;
	text-align: center;
	background: rgb(0, 77, 161);
	color: #fff !important;
	border-radius: 20px;
}

div[id*="customerServiceProfile"] .x-panel {
	border-width: 0;
}

div[id*="customerServiceProfile"] .x-panel-body
div[id*="customerServiceProfile"] .x-panel,
div[id*="customerServiceProfile"].x-panel-default,
div[id*="customerServiceProfile"] .x-panel-body-default {
	border-width: 0;
	background: transparent;
}

div[id*="customerServiceProfile"] .x-fieldset {
	margin-right: 5px !important;
	padding: 10px;
	background: #fff;
	-webkit-box-shadow: 0 2px 5px #ccc;
	        box-shadow: 0 2px 5px #ccc;
	overflow: hidden;
	border: 1px solid #c4c4c4;
	height: 225px !important;
	-webkit-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}

.customerServiceProfileCls .x-form-item-label, 
.customerServiceProfileCls .x-form-display-field {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 10px;
	line-height: 9px;
	white-space: nowrap;
}

.customerServiceProfileCls .x-form-display-field {
	overflow: hidden;
	text-overflow: ellipsis;
}
	
.customerServiceProfileCls div fieldset:nth-child(3) table tr td:first-child,
.customerServiceProfileCls div fieldset:nth-child(3) table tr td:first-child label{
	width: 100% !important;
}
.customerServiceProfileCls div fieldset:nth-child(4) table tr td:first-child,
.customerServiceProfileCls div fieldset:nth-child(4) table tr td:first-child label{
	width: 100% !important;
}

div:not(.mainPanel) td.x-field-label-cell[style],
div:not(.mainPanel) td.x-field-label-cell label[style] {
	width: 73px !important;
	padding-left: 6px;
}
/* End Customer Service Profile */

/* login screen */

#ext-gen1018:not(.x-container-default) {
	background: url(images/login-bg_2.jpg) center center no-repeat !important;
	background-size: cover !important;
	height: 100vh;
}

#loginPanel {
	-webkit-box-shadow: 0px 10px 28px rgba(0,0,0,0.4);
	        box-shadow: 0px 10px 28px rgba(0,0,0,0.4);
}

#loginPanel .x-btn-default-small .x-btn-inner {
	color: #fff !important;
}

.login-form-field-user .x-form-text, .login-form-field-password .x-form-text {
	background-image: none;
}

.login-form-field-user .x-form-empty-field, .login-form-field-password .x-form-empty-field {
	color: gray !important;
}

.login-form-field-user:before, .login-form-field-password:before {
	position: absolute;
	right: 10px;
	font-family: icomoon;
	font-size: 20px;
	top: 35%;
	color: #004da1;
	z-index: 1;
}

.login-form-field-user:before {
	content: '\e905';
}
.login-form-field-password:before {
	content: '\e901';
}

#loginPanel .x-form-trigger {
	background: none;
}

/* End login screen */
/* Start logout screen */
#logoutDialog .btn-ok-big .x-btn-inner {
	color: #fff !important;
}

#logoutDialog .btn-cancel-big {
	background-color: #BFC7DB !important;
	border: none !important;
}

#logoutDialog .btn-cancel-big.x-btn-default-small-over{
	background-color:#94A1C3 !important;
}
	
#logoutDialog .x-form-trigger {
	background: none;
}
/* End logout screen */

/* Nav */ 
/* -- top -- */
.x-btn-default-toolbar-small .x-btn-arrow-right {
	padding-right: 17px;
}

.x-btn-default-toolbar-small .x-btn-inner {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
	font-size: .85em;
	text-transform: uppercase;
	font-weight: 400;
}

#gridview-1096-body:empty::before {
    content: "Message Board is all clear";
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 200px;
    text-align: center;
    margin-left: -100px;
    font-size: 2em;
    font-weight: bold;
    color: #ccc;
    text-shadow: 1px 1px 3px rgba(255,255,255,0.5), 0px -1px 1px rgba(0,0,0,0.7);
}

/* -- end top -- */

.x-grid-cell-inner-treecolumn {
	padding: 10px 10px 9px 6px;
}

.contextNavigation .x-grid-row-selected .x-grid-cell:before {
	content: '';
	width: 3px;
	height: 100%;
	display: block;
	background-color: #6bdb30;
	position: absolute;
}

/* End Nav */

/* bottom section */

h2 {
	font-size: 16px !important;
	margin-top: 8px;
}

.x-column-header {
	border: none !important;
}

.x-column-header-trigger {
	border-right: 1px solid silver;
}

.x-grid-with-row-lines .x-grid-td {
	border: none;
}

.x-grid-cell-inner {
	padding: 11px 10px 10px 10px;
}

.x-grid-tree-node-leaf .x-grid-cell-inner {
	padding: 11px 0 10px;
}

.estimatedCostCls {
	/*height: 100% !important;*/
}

.estimatedCostCls .x-panel-body {
	 margin: 0 0 0 10px;
	 width: calc(100% - 10px) !important;
}

.attCallAssistanceCls, .verizonCallAssistanceCls,
.ticketFormCls, .unableUnableCls .interactionNotePanelCls {
	margin-top: -5px;
}

.airtimePinCls table tr td:first-child label, .airtimePinCls table tr td:first-child {
	width: 65px !important;
}

.airtimePurchaseResponseCls, .airtimePinResponseCls {
	padding-bottom: 175px;
	font-size: 10px;
}

.x1a{
	width: 450px !important;
}

.interactionNotePanelCls .x-panel-body, .attCallAssistanceCls .x-panel-body,
.verizonCallAssistanceCls .x-panel-body, .ticketFormCls .x-panel-body,
.interactionNotePanelCls .x-panel-body, .airtimePinCls .x-panel-body .x-panel .x-panel .x-panel-body {
	padding: 5px;
}

.ssoFormCls .x-form-display-field {
	margin-top: 4px;
	color: #004da1;
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 11px;
	line-height: 11px;
	margin-left: 2px;
	margin-bottom: 6px;
}

/* End bottom section */

/* Icons */

.contextNavigation table tbody tr:nth-child(2) td span:before,
.contextNavigation table tbody tr:nth-child(3) td span:before,
.contextNavigation table tbody tr:nth-child(4) td span:before {
	font-family: icomoon;
	color: #004da1;
	position: absolute;
	left: 12px;
	font-size: 24px;
	font-weight: 100 !important;
}

.contextNavigation table tbody tr[data-recordid="ext-record-2"] td span:before {
	content: '\e903';
}
.contextNavigation table tbody tr[data-recordid="RedemptionTab"] td span:before {
	content: '\e900';
}
.contextNavigation table tbody tr[data-recordid="CallingIssuesTab"] td span:before {
	content: '\e904';
}
 /* hover and selected */
.contextNavigation table tbody tr.x-grid-row-over:nth-child(2) td span:before,
.contextNavigation table tbody tr.x-grid-row-over:nth-child(3) td span:before,
.contextNavigation table tbody tr.x-grid-row-over:nth-child(4) td span:before,
.contextNavigation table tbody tr.x-grid-row-selected:nth-child(2) td span:before,
.contextNavigation table tbody tr.x-grid-row-selected:nth-child(3) td span:before,
.contextNavigation table tbody tr.x-grid-row-selected:nth-child(4) td span:before {
	color: #fff;
	font-weight: 100 !important;
}
/* hover */
.contextNavigation table tbody tr.x-grid-row-over:nth-child(2) td span:before,
.contextNavigation table tbody tr.x-grid-row-over:nth-child(3) td span:before,
.contextNavigation table tbody tr.x-grid-row-over:nth-child(4) td span:before {
	/*font-size: 16px;*/
}

/* Icons End */

/* iFrame Height */

.mainPanel,
iframe {height: 265px !important;}

.mainPanel > .x-panel-header {
	display: none;
}

.mainPanel .x-panel-header-default {
	background: #fff;
	/*top: 6px !important;*/
} 

.mainPanel > .x-panel-body {
	background: #fff;
	border: 1px solid #ccc !important;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.3);
	        box-shadow: 0 1px 5px rgba(0,0,0,.3);
	height: 93% !important;
	top: 10px !important;
	width: calc(100% - 5px) !important;
	padding-top: 5px;
}

div.mainPanel td.x-field-label-cell[style],
div.mainPanel td.x-field-label-cell label[style] {
	width: 100% !important;
}

div.mainPanel .attCallAssistanceCls td.x-form-item-body {
	width: 120px;
	text-align: right;
}

#panel-1092 {
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	        box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}

#panel-1092[style] {
	width: 185px;
}

#panel-1092 > .x-panel-header[style] {
	width: 185px;
}

#panel-1092 > .x-panel-body[style] {
	width: 185px;
}

.mainPanel .x-header-text {
	color: #000;
	text-shadow: none;
	font-size: 1.25em;
	font-weight: 400;
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
	padding-left: 5px;
	text-transform: uppercase;
}

/* Add Pin EXT frame */
#panel-1135 .x-panel-header-default-horizontal {
	background: transparent;
	color: #000;
}
#panel-1135 .x-panel-body {
	margin-top: 10px;
}

.workspaceDialog #panel-1135 .x-panel-body {
	margin-top: 0px;
}

/* Transaction Summary Panel */
#component-1130 > div:first-child {
	max-width: 100%;
	margin: 0 !important;
	padding: 0 7px !important;
}

#component-1130 > div:first-child > div {
	overflow-y: scroll;
	height: 250px;
}

#component-1130 > div:first-child > div ul {
	margin-bottom: 40px;
}

/* Create Interaction */

.interactionNotePanelCls {
	height: 290px !important;
}

.create-interaction {
	margin-top: -20px;
	height: 270px !important;
}

.interactionNotePanelCls > .x-panel-body {
	height: 255px !important;
	margin-bottom: 0;
	padding-bottom: 0;
    /*z-index: 9999;*/
}

.create-interaction > .x-panel-body > span > div[id*="-innerCt"] {
	display: -webkit-box !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 20px;
}

.create-interaction > .x-panel-body > span > div[id*="-innerCt"] > div:first-child,
.create-interaction > .x-panel-body > span > div[id*="-innerCt"] > div:nth-child(2) {
	width: 49.7% !important;
}

.create-interaction > .x-panel-body > span > div[id*="-innerCt"] > a {
	margin: 0 0 0 20px !important;
}

.create-interaction > .x-panel-body > span > div[id*="-innerCt"] > a + table {
	left: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	text-transform: uppercase;
	pointer-events: none;
}

.create-interaction > .x-panel-body > span > div[id*="-innerCt"] > a + table .x-form-item-body .x-form-display-field {
	color: #f47200;
	font-size: 18px;
	font-weight: 500;
}

.create-interaction > .x-panel-body > span > div[id*="-innerCt"] > div:nth-child(2) {
	background: #f4f4f4;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-top: 20px;
}

.create-interaction > .x-panel-body > span > div[id*="-innerCt"] > div:nth-child(2) textarea {
	filter: alpha(opacity=70);
	opacity: .7;
	cursor: not-allowed;
}

.create-interaction > .x-panel-body > span > div[id*="-innerCt"] > div:nth-child(2) > .x-panel-body,
.create-interaction > .x-panel-body > span > div[id*="-innerCt"] > div:nth-child(2) > .x-panel-body table {
	max-width: 100%;
}

.create-interaction > .x-panel-body > span > div[id*="-innerCt"] > div:nth-child(3) {
	padding: 0 0 0 10px;
	margin-top: -30px;
}

.create-interaction > .x-panel-body > span > div[id*="-innerCt"] > div:nth-child(3) table {
	width: 100% !important;
}

.create-interaction > .x-panel-body > span > div[id*="-innerCt"] > div:nth-child(3) textarea {
	width: 96.5%;
}

.create-interaction > .x-panel-body,
.create-interaction > .x-panel-body {
	padding: 0 5px;
}

/* Select Airtime Plan 
#grid-1122 {
	height: 216px !important;
	overflow: hidden;
}*/

#grid-1122 {
	height: 200px !important;
	overflow: hidden !important;
}

#grid-1122 > .x-panel-body {
	height: 200px !important;
	overflow-y: scroll;
	max-width: 100% !important;
}

.x-grid-header-ct {
	border: none !important;
}

.mainPanel .x-column-header-text {
	text-transform: uppercase;
	color: #094f9e;
	font-weight: bold;
	font-size: 10px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

.mainPanel .x-grid-cell {
	text-transform: uppercase;
	color: #000;
	font-weight: normal;
	font-size: 11px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

.mainPanel .x-grid-row-selected {
	background-color: #e4e4e4;
}

.mainPanel .x-grid-header-ct {
	border: none !important;
}

.mainPanel .x-grid-row-selected > td:first-child {
	border-left: 3px solid #f47200 !important;
}

.estimatedCost-1129-innerCt {
	background: #f4f4f4;
	border-radius: 5px 0 0 5px;
}

.mainPanel .x-toolbar-default {
	top:215px !important;
	background: transparent;
	-webkit-transform: translateY(-10px);
	        transform: translateY(-10px);
}

.mainPanel .x-grid-cell-inner {
	font-size: .8em;
}

.mainPanel #move-next,
.mainPanel #move-prev {
	background: #f47200;
	color: #fff;
	border-radius: 20px;
	padding: 3px 5px;
}


.mainPanel #move-next .x-btn-inner,
.mainPanel #move-prev .x-btn-inner {
	color: #fff;
}

.mainPanel #move-next.x-item-disabled,
.mainPanel #move-prev.x-item-disabled {
	border: 1px solid #f47200;
	background: transparent;
}

.mainPanel #move-next.x-item-disabled .x-btn-inner,
.mainPanel #move-prev.x-item-disabled .x-btn-inner {
	color: #f47200;
}

/* Payment Selection */
#panel-1135 {height: 45px !important;}

#panel-1135 .x-form-item-label {
	text-align: left;
}

/*#panel-1139 {
	margin-top: 10px;
	background: #f4f4f4;
	border-radius: 5px;
	width: 95%;
	margin: 20px auto;
}*/

.purchase-btn {width: 180px !important; left: 10px !important;}

/* Hidding Tooltips */
.x-tip {display: none !important;}

/* New Spinning Loader */
.x-mask-msg-text {
	background-image: none;
	margin-top: 40px;
}

.x-mask-msg-text:before {
	content: "\f1ce";
	font-family: fontawesome;
	color: #0088D2;
	font-size: 3em;
	position: absolute;
    top: 50%;
    left: 50%;
    margin:-24px 0 20px -24px;
    -webkit-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.x-mask-msg {
    background: none!important
}

/* ATT unable - unable */
.attCallAssistanceCls .x-header-text {
	text-transform: uppercase;
}

.attCallAssistanceCls .callNumber {
	color: #004DA1;
}

.attCallAssistanceCls .notify {
	color: #f47200;
}

/* Empty State for Redemption */
.mainPanel.redemption > .x-panel-body > span > div:empty::before {
	content: '';
	background: url(images/add-pin--bw.png) center center no-repeat;
	background-size: contain;
	position: absolute;
	top: 40%;
	left: 50%;
	width: 200px;
	height: 130px;
	-webkit-transform: translate3D(-100px, -65px, 0);
	        transform: translate3D(-100px, -65px, 0);
	/*z-index: 999999;*/
	opacity: .3;
}

.mainPanel.redemption > .x-panel-body > span > div:empty::after {
	content: 'ADD A PIN or PURCHASE A PIN';
	white-space: nowrap;
	position: absolute;
	top: 70%;
	left: 50%;
	width: 400px;
	margin-left: -130px;
	font-weight: bold;
	font-size: 1.3em;
	opacity: .2;
}


/* Empty State for unable */
.mainPanel.unable > .x-panel-body > span > div:empty::before {
	content: '';
	background: url(images/unable--bw.png) center center no-repeat;
	background-size: contain;
	position: absolute;
	top: 35%;
	left: 50%;
	width: 200px;
	height: 160px;
	-webkit-transform: translate3D(-100px, -65px, 0);
	        transform: translate3D(-100px, -65px, 0);
	/*z-index: 999999;*/
	opacity: .3;
}

.mainPanel.unable > .x-panel-body > span > div:empty::after {
	content: 'use troubleshooter to help \A the customer get services working';
	position: absolute;
	top: 73%;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	opacity: .2;
	text-align: center;
}

/* Create Ticket TMO */
.createTicketResponseCls > tbody > tr > td:first-child label,
.createTicketResponseCls > tbody > tr > .x-form-item-body > .x-form-display-field {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	font-size: 20px;
	text-transform: uppercase;
	color: #c65e02;
	height: 40px;
	bottom: 0;
	padding-top: 10px;
	pointer-events: none;
}

.createTicketResponseCls > tbody > tr > td:first-child label:before,
.createTicketResponseCls > tbody > tr > .x-form-item-body > .x-form-display-field:not(:empty):before {
	content: "\f145";
	font-family: fontawesome;
	position: relative;
	-webkit-animation-name: fadeInRight;
	        animation-name: fadeInRight;
	right: 5px;
	font-size: 22px;
}

.ticketFormCls a.x-btn {width: 150px !important;}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.highlightRowCls td{
	background-color: #c65e02;
}

.x-menu-item-text {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
	font-size: .85em;
	text-transform: uppercase;
	font-weight: 400;
}

.recentTicketsCls .x-column-header-text {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
	font-size: .85em;
}

.recentTicketsCls .x-grid-cell-inner {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
	font-size: .85em;
}

.recentTicketsCls .x-grid-cell-inner p {
	margin-top: -1px;
}

.mainPanel .x-item-disabled#move-next, .mainPanel .x-item-disabled#move-prev {
    border: 1px solid #FFC47B;
    background: #fff;
    color: #FFC47B;
    opacity: 1;
}

.x-btn-default-toolbar-small-icon .x-btn-inner, .x-btn-default-toolbar-small-noicon .x-btn-inner {
    line-height: 1.4;
}

.airtimePlanCls .x-grid-cell-inner {
	padding: 5px 10px 5px 10px;
}

.chooseCls {
	color: #f47200;
}